<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container jumbotron">
    <h1>sign up</h1>
<form  action="/register" method="POST">
    <input type="text" name="username" placeholder="enter username">
    <input type="text" name="imgsrc" placeholder="enter image link">
    <input type="password" name="password" placeholder="enter password">
    
   <input type="submit" value="login" class="btn btn-secondary btn-lg btn-block">
</form>
</div>
</body>
</html>
